/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

h1, h2 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Campaign Sections */
#campaigns,
#upcoming-campaigns,
#completed-campaigns {
  margin-bottom: 40px;
}

#campaign-list,
#upcoming-campaign-list,
#completed-campaign-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.campaign-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.campaign-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.campaign-card h3 {
  margin-bottom: 10px;
}

.campaign-card p {
  margin-bottom: 15px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  form,
  input[type="number"],
  input[type="datetime-local"],
  button {
    width: 100%;
  }
}
#upcoming-campaigns
{
  margin:10px;
}